import axios from 'axios'

const FetchUser = () => {
    var token = localStorage.getItem('token')        
    if (token === undefined || token === null || token === ''){                
        window.location.href = "/login"            
    }

    return axios.post('{{.API.Domain}}/validate', {}, { headers:{
            'Content-Type': 'application/json',
            'Authorization': 'bearer '+token,
        }
    } )      
}

export default FetchUser
