type Mutation { {{range $entity := .Entities}}
    upsert{{.EntityType}}(input: {{.EntityType}}Input!): {{.EntityType}}   
    upsertPartial{{.EntityType}}(input: {{.EntityType}}PartialInput!): {{.EntityType}}{{end}}    
}