{{$parentEntityName := .ParentEntityName}}

type {{if eq .JSON true}}{{.ParentEntityName}}{{end}}{{.EntityType}} { {{range $field := .OutFields}}
    {{$field.GraphName}}: {{$field.GraphOutType}}{{end}}   
}

input {{if eq .JSON true}}{{.ParentEntityName}}{{end}}{{.EntityType}}Input { {{range $field := .InFields}}
    {{$field.GraphName}}: {{$field.GraphInType}}{{end}}
}

input {{if eq .JSON true}}{{.ParentEntityName}}{{end}}{{.EntityType}}PartialInput { {{range $field := .InFields}}
    {{ if eq $field.IsPrimary true}}
    {{$field.GraphName}}: {{$field.GraphInType}}
    {{else}}{{$field.GraphName}}: {{$field.GraphInTypeOptional}}{{end}}{{end}}
}