package mapper 

{{$projectName := .ProjectName}}
import (
    "fmt"
    "time"
    "github.com/gofrs/uuid"
    "encoding/json"
    "{{.ProjectName}}/graph/model"
    {{range $entity := .Entities}}
    "{{$projectName}}/core/entity/{{$entity.Identifier}}"
    {{$entity.Identifier}}module "{{$projectName}}/core/module/{{$entity.Identifier}}/types"
    {{end}}	
)

{{range $entity := .Entities}}
func Map{{$entity.EntityType}}(in []{{$entity.Identifier}}.{{$entity.EntityType}}) []*model.{{$entity.EntityType}} {
    res := []*model.{{$entity.EntityType}}{}
    for _, item := range in {
        i := item
        res = append(res, &model.{{$entity.EntityType}}{ {{range $field := $entity.OutFields}}
            {{$field.GraphModelName}}: {{$field.GraphGenToMapper}},{{end}}           
        })
    }
    return res
}

func Map{{$entity.EntityType}}Upsert(i model.{{$entity.EntityType}}Input) {{$entity.Identifier}}module.UpsertRequest {
    return {{$entity.Identifier}}module.UpsertRequest{ 
        {{$entity.EntityType}}:{{$entity.Identifier}}.{{$entity.EntityType}}{
        {{range $field := $entity.OutFields}}
            {{if eq $field.Required true}}
            {{$field.Name}}: {{$field.GraphGenFromMapper}},{{else}}
            {{$field.Name}}: {{$field.GraphGenFromMapperOptional}},{{end}}
        {{end}}
        },
    }
}

func Map{{$entity.EntityType}}UpsertPartial(i model.{{$entity.EntityType}}PartialInput) {{$entity.Identifier}}module.UpsertRequest {
    return {{$entity.Identifier}}module.UpsertRequest{ 
        {{$entity.EntityType}}:{{$entity.Identifier}}.{{$entity.EntityType}}{
        {{range $field := $entity.OutFields}}
            {{if eq $field.IsPrimary true}}
            {{$field.Name}}: {{$field.GraphGenFromMapper}},{{else}}
            {{$field.Name}}: {{$field.GraphGenFromMapperOptional}},{{end}}
            {{end}}
        },
    }
}
{{end}}

{{range $entity := .JSONEntities}}
{{$entityType := $entity.EntityType}}

{{if eq $entity.JSONMany true}}
func Map{{$entity.GraphGenType}}(items []{{$entity.ParentIdentifier}}.{{$entityType}}) []*model.{{$entity.GraphGenType}} {
    res := []*model.{{$entity.GraphGenType}}{}
    for _, item := range items {
        i := item
        res = append(res, &model.{{$entity.GraphGenType}}{ {{range $field := $entity.OutFields}}
        {{$field.GraphModelName}}: {{$field.GraphGenToMapper}},{{end}}           
        })
    }
    return res
}

func Map{{$entity.GraphGenType}}Input(items []{{if ne $entity.Required true}}*{{end}}model.{{$entity.GraphGenType}}Input) []{{$entity.ParentIdentifier}}.{{$entityType}} {
    {{if ne $entity.Required true}}
    if items == nil {
        return []{{$entity.ParentIdentifier}}.{{$entityType}}{}
    }
    {{end}}
    res := []{{$entity.ParentIdentifier}}.{{$entityType}}{}
    for _, item := range items {
        i := item
        res = append(res, {{$entity.ParentIdentifier}}.{{$entityType}}{ {{range $field := $entity.OutFields}}
       {{if eq $field.Required true}}
        {{$field.Name}}: {{$field.GraphGenFromMapper}},{{else}}
        {{$field.Name}}: {{$field.GraphGenFromMapperOptional}},{{end}}
        {{end}}
        })
    }
    return res     
}
{{else}}
func Map{{$entity.GraphGenType}}(i {{$entity.ParentIdentifier}}.{{$entityType}}) *model.{{$entity.GraphGenType}} {
    return &model.{{$entity.GraphGenType}}{ {{range $field := $entity.OutFields}}
        {{$field.GraphModelName}}: {{$field.GraphGenToMapper}},{{end}}           
    }
}

func Map{{$entity.GraphGenType}}Input(i {{if ne $entity.Required true}}*{{end}}model.{{$entity.GraphGenType}}Input) {{$entity.ParentIdentifier}}.{{$entityType}} {
    {{if ne $entity.Required true}}
    if i == nil {
        return {{$entity.ParentIdentifier}}.{{$entityType}}{}
    }
    {{end}}
    return {{$entity.ParentIdentifier}}.{{$entityType}}{ {{range $field := $entity.InFields}}
        {{if eq $field.Required true}}
        {{$field.Name}}: {{$field.GraphGenFromMapper}},{{else}}
        {{$field.Name}}: {{$field.GraphGenFromMapperOptional}},{{end}}
        {{end}}
    }
}
{{end}}
{{end}}

// enums many 
{{range $enum := .Enums}}{{if eq $enum.EnumMany true}}
func Map{{$enum.Type}}ToModel(in []{{$enum.EntityIdentifier}}.{{$enum.Type}}) []{{if eq $enum.Required false}}*{{end}}string {
    res := []{{if eq $enum.Required false}}*{{end}}string{}
    for _, i := range in {
        {{if eq $enum.Required true}}
        res = append(res, i.String()){{else}}
        res = append(res, i.StringPtr()){{end}}
    }
    return res
}
func Map{{$enum.Type}}FromModel(in []{{if eq $enum.Required false}}*{{end}}string) []{{$enum.EntityIdentifier}}.{{$enum.Type}}{
    res := []{{$enum.EntityIdentifier}}.{{$enum.Type}}{}
    for _, i := range in {
        {{if eq $enum.Required true}}
        res = append(res, {{$enum.EntityIdentifier}}.{{$enum.Type}}FromString(i)){{else}}
        res = append(res, {{$enum.EntityIdentifier}}.{{$enum.Type}}FromPointerString(i)){{end}}
    }
    return res
}{{end}}
{{end}}

func ParseTime(in string) time.Time {
    t, err := time.Parse("2006-01-02 15:04:05", in)
    if err != nil {
        fmt.Printf("error parsing date %v", err)
    }
    return t
}

func ParseTimeFromPointer(in *string) time.Time {
    if in == nil {
        return time.Time{}
    }
    t, err := time.Parse("2006-01-02 15:04:05", *in)
    if err != nil {
        fmt.Printf("error parsing date %v", err)
    }
    return t
}

func ParseDate(in string) time.Time {
    t, err := time.Parse("2006-01-02", in)
    if err != nil {
        fmt.Printf("error parsing date %v", err)
    }
    return t
}

func ParseDateFromPointer(in *string) time.Time {
    if in == nil {
        return time.Time{}
    }
    t, err := time.Parse("2006-01-02", *in)
    if err != nil {
        fmt.Printf("error parsing date %v", err)
    }
    return t
}

func FormatDateToPointer(date time.Time) *string {
    str := date.Format("2006-01-02")
    return &str
}

func FormatTimeToPointer(date time.Time) *string {
    str := date.Format("2006-01-02 15:04:05")
    return &str
}

func StringFromPointer(in *string) string {
    if in == nil {
        return ""
    }
    return *in
}

func IntFromPointer(in *int) int32 {
    if in == nil {
        return int32(0)
    }
    return int32(*in)
}

func IntPointer(in int32) *int {    
    res := int(in)    
    return &res
}

func FloatFromPointer(in *float64) float64 {
    if in == nil {
        return 0.0
    }
    return *in
}

func UuidToPointerString(u uuid.UUID) *string {
    if u == uuid.Nil {
        return nil
    }
    str := u.String()
    return &str
}

func UuidFromPointerString(i *string) uuid.UUID {
    if i == nil {
        return uuid.Nil
    }    
    return uuid.FromStringOrNil(*i)
}

func UuidFromStringOrNil(i string) uuid.UUID{
    return uuid.FromStringOrNil(i)
}

func BoolFromPointer(i *bool) bool {
    if i == nil {
        return false
    }
    return *i
}

func StringFromJsonRaw(in *json.RawMessage) *string {
	res, _ := in.MarshalJSON()
	resStr := string(res)
	return &resStr
}

func JsonRawFromString(in *string) json.RawMessage {
	res, _ := json.Marshal(in)
	return res
}

