package mapper 

{{$mainEntityIdentifier := .Identifier}}
{{$mainEntityType := .EntityType}}
import (    
    "{{.ProjectIdentifier}}/graph/model"    
    "{{.ProjectIdentifier}}/core/entity/{{.Identifier}}"
    {{if ne .JSON true}}
    "{{.ProjectIdentifier}}/core/module/{{.Identifier}}/types"    
    {{end}}
)

func Map{{.EntityType}}(in []{{.Identifier}}.{{.EntityType}}) []*model.{{.EntityType}} {
    res := []*model.{{.EntityType}}{}
    for _, item := range in {
        i := item
        res = append(res, &model.{{.EntityType}}{ {{range $field := .OutFields}}
            {{$field.GraphModelName}}: {{$field.GraphGenToMapper}},{{end}}           
        })
    }
    return res
}

{{if ne .JSON true}}
func Map{{.EntityType}}Upsert(i model.{{.EntityType}}Input) types.UpsertRequest {
    return types.UpsertRequest{ 
        {{.EntityType}}:{{.Identifier}}.{{.EntityType}}{
        {{range $field := .OutFields}}
            {{if eq $field.Required true}}
            {{$field.Name}}: {{$field.GraphGenFromMapper}},{{else}}
            {{$field.Name}}: {{$field.GraphGenFromMapperOptional}},{{end}}
        {{end}}
        },
    }
}

func Map{{.EntityType}}UpsertPartial(i model.{{.EntityType}}PartialInput) types.UpsertRequest {
    return types.UpsertRequest{ 
        {{.EntityType}}:{{.Identifier}}.{{.EntityType}}{
        {{range $field := .OutFields}}
            {{if eq $field.IsPrimary true}}
            {{$field.Name}}: {{$field.GraphGenFromMapper}},{{else}}
            {{$field.Name}}: {{$field.GraphGenFromMapperOptional}},{{end}}
            {{end}}
        },
    }
}
{{end}}

{{range $field := .OutFields}}
{{if and (eq $field.Enum true) (eq $field.EnumMany true)}}
// enums many 
func Map{{$mainEntityType}}{{$field.Type}}ToModel(in []{{$mainEntityIdentifier}}.{{.Type}}) []{{if eq .Required false}}*{{end}}string {
    res := []{{if eq .Required false}}*{{end}}string{}
    for _, i := range in {
        {{if eq .Required true}}
        res = append(res, i.String()){{else}}
        res = append(res, i.StringPtr()){{end}}
    }
    return res
}
func Map{{$mainEntityType}}{{.Type}}FromModel(in []{{if eq .Required false}}*{{end}}string) []{{$mainEntityIdentifier}}.{{.Type}}{
    res := []{{$mainEntityIdentifier}}.{{.Type}}{}
    for _, i := range in {
        {{if eq .Required true}}
        res = append(res, {{$mainEntityIdentifier}}.{{.Type}}FromString(i)){{else}}
        res = append(res, {{$mainEntityIdentifier}}.{{.Type}}FromPointerString(i)){{end}}
    }
    return res
}
{{end}}
{{end}}
