{{$parentEntityName := .ParentEntityName}}

type {{.EntityType}} { {{range $field := .OutFields}}
    {{$field.GraphName}}: {{$field.GraphOutType}}{{end}}   
}

{{if eq .JSON false}}
type List{{.EntityType}} {
    List: [{{.EntityType}}]
    NextPageToken: String!
}
{{end}}

input {{.EntityType}}Input { {{range $field := .InFields}}
    {{$field.GraphName}}: {{$field.GraphInType}}{{end}}
}

input {{.EntityType}}PartialInput { {{range $field := .InFields}}
    {{ if eq $field.IsPrimary true}}
    {{$field.GraphName}}: {{$field.GraphInType}}
    {{else}}{{$field.GraphName}}: {{$field.GraphInTypeOptional}}{{end}}{{end}}
}