package monitoring

import "fmt"

func (i *Implementation) emitDatadogMetric(req EmitRequest) error {
	name := fmt.Sprintf("%s.%s.%s.%s", req.Layer, req.EntityIdentifier, req.ActionIdentifier, req.Type)
	if req.LayerSubtype != "" {
		name = fmt.Sprintf("%s.%s.%s.%s.%s", req.Layer, req.LayerSubtype, req.EntityIdentifier, req.ActionIdentifier, req.Type)
	}
	fmt.Printf("emitting metric: %v \n", name)
	return i.datadogClient.Incr(name, []string{}, 1)	
}
