
ports:
  http: 8085
  grpc: 6005

auth: {{if eq .HasBasicAuth true}} 
  basic:
    username: {{ .BasicAuth.Config.Basic.Username }}
    password: {{ .BasicAuth.Config.Basic.Password }}{{end}}
  {{if eq .HasJWTAuth true}}jwt:
    key: {{ .JWTAuth.Config.JWT.Key }}{{end}}


db:
  - name: {{.Database.Name}} 
    host: {{.Database.Host}}
    port: {{.Database.Port}}
    user: {{.Database.User}}
    pswd: {{.Database.Password}}
    params: parseTime=true&loc=UTC&charset=utf8mb4&collation=utf8mb4_unicode_ci
    driver: "{{.Database.Driver}}"

aws:
  - region: {{.AWS.Region}}
    key_id: {{.AWS.Key}}
    secret: {{.AWS.Secret}}
    bucket: {{.AWS.Bucket}}

monitoring:
  logging-enabled: true
  logging-level: success
  metrics-enabled: true
  metrics-level: success
  metrics-provider: datadog
  datadog-addr: localhost:8125