package config

import (
	"fmt"
	"os"

	"go.uber.org/config"
	"path"
)

type DBs []DB

type DB struct {
	Name     string `yaml:"name"`
	Host     string `yaml:"host"`
	Port     string `yaml:"port"`
	User     string `yaml:"user"`
	Password string `yaml:"pswd"`
	Params   string `yaml:"params"`
	Driver   string `yaml:"driver"`
}

type AWS struct {
	Region string `yaml:"region"`
	KeyID  string `yaml:"key_id"`
	Secret string `yaml:"secret"`
	Bucket string `yaml:"bucket"`
}

func (db DB) Path() string {
	return fmt.Sprintf("%s:%s@tcp(%s:%s)/%s?%s",
		db.User,
		db.Password,
		db.Host,
		db.Port,
		db.Name,
		db.Params)
}

func New() (config.Provider, error) {
	configPath := os.Getenv("CONFIG")
	envPath := os.Getenv("ENV")
	return NewWithPathAndEnviorment(configPath, envPath)
}

func NewWithPathAndEnviorment(p string, env string) (config.Provider, error) {
	fi, err := os.Stat(p)
	if err != nil {
		fmt.Println(err)
		return nil, err
	}
	switch mode := fi.Mode(); {
	case mode.IsDir():
		if env == "" {
			env = "base"
		}
		yaml, err := config.NewYAML(
			config.File(path.Join(p, "base.yaml")),
			config.File(path.Join(p, fmt.Sprintf("%s.yaml", env))),
		)
		if err != nil {
			fmt.Printf("error loading config: %v", err)
			return nil, err
		}
		return yaml, nil
	case mode.IsRegular():
		yaml, err := config.NewYAML(config.File(p))
		if err != nil {
			fmt.Printf("error loading config: %v", err)
			return nil, err
		}
		return yaml, nil
	}

	return nil, nil
}
