package repository

import (
	"database/sql"
	
	{{.ProjectName}}db "{{.ProjectName}}/core/repository/gen"
)

type Implementation struct {
	Queries *{{.ProjectName}}db.Queries
	DB      *sql.DB
}

func New(db *sql.DB) *Implementation {
	queries := {{.ProjectName}}db.New(db)
	return &Implementation{
		Queries: queries,
		DB:      db,
	}
}
