version: "2"
sql:
  - engine: "mysql"
    schema: "sql/schemas/"
    queries: "sql/queries/"
    gen:
      go:
        package: "{{.ProjectIdentifier}}db"
        out: "gen"
        emit_interface: true
        emit_json_tags: true
        rename:{{range $identifier, $camelCase := .Fields}}
          {{$identifier}}: {{ $camelCase }}{{end}}
        overrides:
          - db_type: "int"            
            engine: "mysql"
            go_type:              
              type: "int64"
          - db_type: "json"
            go_type:
              type: "[]byte"  # workaround sqlc bug when reading null json columns
            nullable: true
          