package custom 

import (    
    "{{.ProjectName}}/core/module/{{.EntityIdentifier}}/types"
    {{.ProjectName}}db "{{.ProjectName}}/core/repository/gen"
)

func {{.EntityName}}{{.Field.Name}}{{.FuncName}}Insert(req types.UpsertRequest) {{.Field.Type}} {
    // add your custom code here
    return req.{{.Field.Name}}{{.Field.RepoToMapper}}
}

func {{.EntityName}}{{.Field.Name}}{{.FuncName}}Update(req types.UpsertRequest, existing {{.ProjectName}}db.{{.EntityName}}) {{.Field.Type}} {
    // add your custom code here
    return req.{{.Field.Name}}{{.Field.RepoToMapper}}
}