package custom 

import (    
    "{{.ProjectIdentifier}}/core/module/{{.EntityIdentifier}}/types"
    {{.ProjectIdentifier}}db "{{.ProjectIdentifier}}/core/repository/gen"
)

func {{.EntityName}}{{.Field.Name}}{{.FuncName}}Insert(req types.UpsertRequest) {{.Field.Type}} {
    // add your custom code here
    return req.{{.Field.Name}}{{.Field.RepoToMapper}}
}

func {{.EntityName}}{{.Field.Name}}{{.FuncName}}Update(req types.UpsertRequest, existing {{.ProjectIdentifier}}db.{{.EntityName}}) {{.Field.Type}} {
    // add your custom code here
    return req.{{.Field.Name}}{{.Field.RepoToMapper}}
}