package {{.Package}}
{{ $firstMapperImport := false }}
{{ $projectModule := .ProjectModule}}
import (
    "context"
    "fmt"

    "{{.ProjectModule}}/core/module/{{.EntityIdentifier}}/types"
    {{.ProjectIdentifier}}db "{{.ProjectModule}}/core/repository/gen"
    "{{.ProjectModule}}/monitoring"
    {{range $field := .SearchFields}}
        {{- if and (eq $field.Type "*string") (eq $firstMapperImport false) }} {{$firstMapperImport = true}}
            "{{$projectModule}}/core/entity/mapper"
        {{end -}}
    {{end}}
)

func (m *module) Search(
    ctx context.Context, 
    query string, 
    limit int32, 
    offset int32,
) (types.Search{{.EntityName}}Response, error) {
    request := {{.ProjectIdentifier}}db.Search{{.EntityName}}Params{ {{range $field := .SearchFields}}
            {{ if eq $field.Type "string" -}}{{$field.Name}}: fmt.Sprintf("%%%s%%", query),{{end -}}
            {{ if eq $field.Type "*string" -}}{{$field.Name}}: mapper.StringToSqlNullString(query),{{end -}}            
            {{end}}
            Offset: offset,
            Limit: limit,            
        }
    models, err := m.repository.Queries.Search{{.EntityName}}(
        ctx,
        request,
    )
    if err != nil {
        m.monitoring.Emit(monitoring.EmitRequest{
			ActionIdentifier: "search_{{.EntityIdentifier}}",
			Message: "error calling repository for Search{{.EntityName}}",
			EntityIdentifier: "{{.EntityIdentifier}}",
			Layer: monitoring.RepositoryServiceLayer,
			Type: monitoring.EmitTypeError,
			Data: request,
			Error: err,
		})
        return types.Search{{.EntityName}}Response{}, err
    }

    m.monitoring.Emit(monitoring.EmitRequest{
		ActionIdentifier: "search_{{.EntityIdentifier}}",
		Message: "successfully handled Search{{.EntityName}}",
		EntityIdentifier: "{{.EntityIdentifier}}",
		Layer: monitoring.ModuleServiceLayer,
		Type: monitoring.EmitTypeSuccess,
		Data: request,			
	})
    return types.Search{{.EntityName}}Response{
        Results: mapModelsToEntities(models),
    }, nil	
}