package types

{{$projectModule := .ProjectModule}}
{{$package := .Package}}
import (
    main_entity "{{$projectModule}}/core/entity/{{.EntityIdentifier}}"	    
    "github.com/gofrs/uuid"
)

type UpsertRequest struct {
    {{.EntityName}} main_entity.{{.EntityName}}
}

type UpsertResponse struct {
	{{.PrimaryKey.Name}} uuid.UUID
}