package types

import (
    entity "{{.ProjectIdentifier}}/core/entity/{{.Package}}"
	{{range $import := .Imports}}
    "{{$import}}" {{end}}	
    "go.uber.org/zap/zapcore"
)

type Fetch{{.Select.Name}}Request struct { {{range $field := .Select.Fields}} 
    {{$field.Field.Name}} {{if eq $field.Field.Custom true}}entity.{{end}}{{$field.Field.Type}}{{end}}    
    {{if ne .Select.IsPrimary true}}
    Offset int32
    Limit int32
    OrderBy string
    Sort string
    {{end}}
}

func (r Fetch{{.Select.Name}}Request) MarshalLogObject(e zapcore.ObjectEncoder) error {
     {{range $field := .Select.Fields}} 
        {{if eq $field.Field.Type "uuid.UUID"}}
        e.AddString("{{$field.Field.Identifier}}", r.{{$field.Field.Name}}.String())
        {{end}}
     {{end}}
     return nil
}

type Fetch{{.Select.Name}}Response struct {
	Results []entity.{{.EntityName}}
}
