import React from 'react'
import { useParams } from 'react-router-dom';
import Header from '../components/Header';
import Client from '../client'
import {gql} from '@apollo/client';
import {{.Identifier | ToCamelCase}}Form from '../forms/{{.Identifier | ToCamelCase}}Form';
import { usePopupManager } from "react-popup-manager";
import { ToastContainer, toast } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';
import { v4 as uuidv4 } from 'uuid';
import { Link } from "react-router-dom";
import { MdCreate } from "react-icons/md";


class {{.Identifier | ToCamelCase}}Edit extends React.Component {
    constructor(props) {
        super(props)        
        this.state = {
            pending:false,
            entity:{
                id: this.props.params.id,
            },
            notFound:false,
            images:[]
        }                             
    }

    componentDidMount() {        
        if (this.props.params.id !== undefined) {
            this.state.pending = true
            this.setState(this.state)
            this.fetchEntity();
        }
    }

    fetchEntity() {
        Client
            .query({
                query: gql`
                query {{.Identifier | ToCamelCase}}ByID($id: ID!) {
                    {{.Identifier | ToCamelCase}}ByID(id:$id){ {{range $field := .Fields}}
                        {{if eq (printf "%s" $field.Type ) "json"}}{{$field.Identifier}}{
                            {{range $nf := $field.JSONConfig.Fields}}{{$nf.Identifier}},{{end}}
                        },{{else}}{{$field.Identifier}},{{end}}{{end}}
                    }
                }
                `,
                variables:{
                    id:this.state.entity.id,                    
                }
            })
            .then((result) => {
                this.state.pending = false
                var data = result.data.{{.Identifier | ToCamelCase}}ByID
                if (data.length === 0) {
                    this.state.notFound = true
                    toast.error('Entity not found after insert',{
                        position: toast.POSITION.TOP_CENTER
                    });
                } else {
                    console.log(data[0])
                    this.state.entity = JSON.parse(JSON.stringify(data[0]))
                }                              
                this.setState(this.state)
            })
            .catch((err) => {
                toast.error('Error fetching entity',{
                        position: toast.POSITION.TOP_CENTER
                });
                console.error(err);
            });
    }

    upsertEntity() {
        Client
            .mutate({
                mutation: gql`
                mutation upsert{{.Identifier | ToCamelCase}}($input: {{.Identifier | ToCamelCase}}Input!) {
                    upsert{{.Identifier | ToCamelCase}}(input:$input){ 
                        id
                    }
                }
                `,
                variables:{
                    input:{
                        {{range $field := .Fields}}{{ if eq $field.StorageConfig.PrimaryKey true}}{{$field.Identifier}}:(this.state.entity.{{$field.Identifier}} ? this.state.entity.{{$field.Identifier}} : ''),{{else}}
                        {{$field.Identifier}}:this.state.entity.{{$field.Identifier}} ? this.state.entity.{{$field.Identifier}} : {{$field | JSDefault}},{{end}}{{end}}
                    }                    
                }
            })
            .then((result) => {
                var data = result.data.upsert{{.Identifier | ToCamelCase}}
                if (!data.id) {
                    this.state.notFound = true
                } else {                    
                    this.state.entity.id = data.id
                    window.history.replaceState(null, document.title, "/{{.Identifier}}/edit/"+this.state.entity.id)
                }                 
                window.scrollTo(0, 0)
                toast.success(this.props.params.id == undefined ? 'Created Successfully' : 'Edited Successfully',{
                    position: toast.POSITION.TOP_CENTER
                });
                setTimeout(() => {
                    toast.dismiss()
                    window.location.reload(false);
                }, "500")
                
            })
            .catch((err) => {
                toast.error('Error upserting entity',{
                        position: toast.POSITION.TOP_CENTER
                });
                console.error(err);
            });
    }    

    render() {              
        return (            
           <div>
                <Header />  
                <div className="actionsBar">  
                    <h2 className="pageTitle">{this.props.params.id === undefined ? 'Create' : 'Edit'} {{.Render.Name}}</h2>                                  
                    { this.props.params.id !== undefined ? 
                    <a onClick={() => {
                        window.history.replaceState(null, document.title, "/{{.Identifier}}/edit/")
                        window.location.reload(false);
                    }} ><MdCreate /> Create New</a>
                    : undefined }
                </div>
                {this.state.pending ? <div className="formWrapper" style={ {textAlign:"center"} }>Loading...</div> : 
                    <{{.Identifier | ToCamelCase}}Form {...this.props} entity={this.state.entity} onSubmit={(data) =>{
                        this.upsertEntity()                        
                    } } />
                }
                <ToastContainer />
            </div> 
        )
    }
}

export default (props) => <{{.Identifier | ToCamelCase}}Edit {...props}
            params={useParams()} popups={usePopupManager()} />