package jwtserver

import (
	"time"

	"github.com/dgrijalva/jwt-go"
)

var jwtKey = []byte("{{.JWTKey}}")

type TokenResponse struct {
	Token   string
	Expires time.Time
}

// Create a struct that models the structure of a user, both in the request body, and in the DB
type Credentials struct {
	Password string `json:"password"`
	Email    string `json:"email"`
}

type Claims struct {
	Email string `json:"email"`
	jwt.StandardClaims
}

type TokenRefresh struct {
	Token string `json:"token"`
}
