package auth

import(
    "context"
    "net/http"
)

type Interface interface {
    HandleHTTP(w http.ResponseWriter, r *http.Request) error
    HandleToken(ctx context.Context, token string) error
}