package mapper

{{$timestampImport := false}}
{{$uuidImport := false}}

import (
    main_entity "{{.ProjectModule}}/core/entity/{{.OrignalIdentifier}}"
    pb "{{.ProjectModule}}/idl/gen"
    {{range $field := .Fields}}{{if and (eq $field.Type "time.Time") (eq $timestampImport false)}}
    "google.golang.org/protobuf/types/known/timestamppb" {{$timestampImport = true}} {{end}}    
    {{if and (eq $field.Type "uuid.UUID") (eq $uuidImport false)}}
    "github.com/gofrs/uuid" {{$uuidImport = true}}{{end}}
    {{end}}
)

func {{.Name}}ToProto(e main_entity.{{.Type}}) *pb.{{.Name}} {
    return &pb.{{.Name}}{ {{range $field := .Fields}}
        {{$field.ProtoGenName}}: {{$field.ProtoToMapper}},{{end}}
    }
}

func {{.Name}}SliceToProto(es []main_entity.{{.Type}}) []*pb.{{.Name}} {
    res := []*pb.{{.Name}}{}
    for _, e := range es {
        res = append(res, {{.Name}}ToProto(e))
    }
    return res
}

func {{.Name}}FromProto(m *pb.{{.Name}}) main_entity.{{.Type}} {
    if m == nil {
        return main_entity.{{.Type}}{}
    }
    return main_entity.{{.Type}}{ {{range $field := .Fields}}
        {{$field.Name}}: {{$field.ProtoFromMapper}},{{end}}
    }
}

func {{.Name}}SliceFromProto(es []*pb.{{.Name}}) []main_entity.{{.Type}} {
    if es == nil {
        return []main_entity.{{.Type}}{}
    }
    res := []main_entity.{{.Type}}{}
    for _, e := range es {
        res = append(res, {{.Name}}FromProto(e))
    }
    return res
}


{{range $enum := .Enums}}{{if eq $enum.Many true}}
func {{$enum.Field.ProtoType}}SliceToProto(s []main_entity.{{$enum.Field.Type}}) []pb.{{$enum.Field.ProtoType}}{
    res := []pb.{{$enum.Field.ProtoType}}{}
    for _, e := range s {
        res = append(res, pb.{{$enum.Field.ProtoType}}(e))
    }
    return res
}
func {{$enum.Field.ProtoType}}SliceFromProto(s []pb.{{$enum.Field.ProtoType}}) []main_entity.{{$enum.Field.Type}}{
    res := []main_entity.{{$enum.Field.Type}}{}
    for _, e := range s {
        res = append(res, main_entity.{{$enum.Field.Type}}(e))
    }
    return res
}{{end}}
{{end}}

