package mapper 

import (
    "encoding/json"
)

func JSONRawToString(raw json.RawMessage) string {
    j, err := json.Marshal(&raw)
    if err != nil {
        return ""
    }
    return string(j)    
}

func StringToJSONRaw(s string) json.RawMessage {
	var r json.RawMessage
	err := json.Unmarshal([]byte(s), &r)
	if err != nil {
		return json.RawMessage{}
	}
	return r
}
