package main
{{$enableProto := or (eq .API.Protocol "protobuf") (eq .API.Protocol "all")}}
{{$enableGraph := or (eq .API.Protocol "graphql") (eq .API.Protocol "all")}}
import (
	"go.uber.org/fx"
	"go.uber.org/zap"
	{{.Identifier}}config "{{.Identifier}}/config"
	"{{.Identifier}}/core"

	{{ if eq $enableProto true}}
	pbserver "{{.Identifier}}/idl/server"		
	{{end}}

	{{.AuthImport}}

	{{if eq $enableGraph true}}
	"{{.Identifier}}/graph"
	{{end}}

	"{{.Identifier}}/monitoring"
	
	{{if eq .KafkaEnabled true}}
	saramafx "github.com/mklfarha/sarama-fx"
	{{end}}
)

func main() {
	fx.New(
		fx.Provide(
			zap.NewProduction,
			{{.Identifier}}config.New,
			core.New,	
			monitoring.New,
			{{if ne .AuthImport ""}}auth.New,{{end}}			
		),	
		{{if eq .KafkaEnabled true}}saramafx.Module,{{end}}
		fx.Invoke(httpServer),
		{{ if eq $enableProto true}}fx.Invoke(pbserver.New),{{end}}
		{{ if eq $enableGraph true}}fx.Invoke(graph.New),{{end}}
	).Run()
}

