package main
{{$enableGraph := or (eq .Protocol "graphql") (eq .Protocol "all")}}
import (
	"net/http"
	"log"			
	"go.uber.org/config"
)

func httpServer(config config.Provider){
	// http port from config 
	httpPort := config.Get("ports.http").String()

	// http upload - move to seperate module
	http.Handle("/upload", serverHandlerUploadFunc())	

	go http.ListenAndServe(":"+httpPort, nil)

	log.Printf(`
		Serving HTTP: %s			
			{{if eq .Auth.Enabled true}}/signin
			/refresh{{end}}
			{{if eq $enableGraph true}}/gplay
			/query{{end}}
			/upload	
			`, httpPort)
}


