package main

import (
	"log"
	"net/http"
	"os"
	{{ if eq .Protocol "graphql" }}
	"github.com/99designs/gqlgen/graphql/playground"
	{{end}}
)

const defaultPort = "8080"

func main() {
	port := os.Getenv("PORT")
	if port == "" {
		port = defaultPort
	}

	app, err := New()
	if err != nil {
		panic(err)
	}

	{{ if eq .Auth.Enabled true }}
	http.HandleFunc("/signin", app.auth.SignIn)
	http.HandleFunc("/validate", app.auth.Validate)
	http.HandleFunc("/refresh", app.auth.Refresh)
	{{ end }}
	{{ if eq .Protocol "graphql" }}
	http.Handle("/gplay", app.basicAuth(playground.Handler("GraphQL playground", "/query")))	
	http.Handle("/query", app.serverHandlerFunc())
	{{ end }}
	http.Handle("/upload", app.serverHandlerUploadFunc())	

	log.Printf(`
		Port: %s			
			{{if eq .Auth.Enabled true}}/signin
			/refresh{{end}}
			{{if eq .Protocol "graphql"}}/gplay
			/query{{end}}
			/upload
			`, port)
	log.Fatal(http.ListenAndServe(":"+port, nil))
}
