package main

import (
	"context"

	"github.com/99designs/gqlgen/graphql/handler"
	{{ if eq .Auth.Enabled true}}
	"{{.Identifier}}/auth"
	{{ end }}
	"{{.Identifier}}/config"
	"{{.Identifier}}/graph"
	"{{.Identifier}}/graph/generated"
	"{{.Identifier}}/core"
)

type basicAuthCredentials struct {
	username string
	password string
}

type application struct {
	core   *core.Implementation
	{{ if eq .Auth.Enabled true}}
	auth   auth.Interface
	{{ end }}
	server *handler.Server
	bac    basicAuthCredentials
}

func New() (application, error) {
	ctx := context.Background()
	config := config.New()
	c, err := core.New(ctx, config)
	if err != nil {
		return application{}, err
	}

	{{ if eq .Auth.Enabled true}}
	auth, err := auth.New(ctx, c)
	if err != nil {
		return application{}, err
	}
	{{end}}

	srv := handler.NewDefaultServer(
		generated.NewExecutableSchema(
			generated.Config{
				Resolvers: &graph.Resolver{
					Core: *c,
				}}))

	return application{
		core:    c,
		{{ if eq .Auth.Enabled true}}
		auth:   auth,
		{{end}}
		server: srv,
		bac: basicAuthCredentials{
			username: "{{.Auth.BasicUsername}}",
			password: "{{.Auth.BasicPassword}}",
		},
	}, nil
}
